image: node:11

cache:
  key: 'node_modules-reflow'
  paths:
    - node_modules/

stages:
  - test
  - build

before_script:
  - yarn install

test:
  stage: test
  script:
    - yarn tsc
    - yarn lint
    - yarn test

build:
  stage: build
  script:
    - yarn build
  artifacts:
    name: reflow
    paths:
      - build
  only:
    - master
